* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
}

.header {
    padding: 24px 0;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    text-decoration: none;
    display: inline-block;
    color: #222;
    display: flex;
    align-items: center;
}

.header__logo-img {
    display: block;
    margin-right: 16px;
}

.footer__logo-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32.68px;
}

.footer__logo-text:hover {
    color: #de2e54;
}

.footer__logo-text:active {
    opacity: 0.6;
}

.header__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}
.header__nav-list-item:not(:last-child) {
    margin-right: 32px;
}

.header__nav-list-item a {
    text-decoration: none;
    color: #222;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
}

.header__nav-list-item a:hover {
    color: #de2e54;
}
.header__nav-list-item a:active {
    opacity: 0.6;
}

.red-btn {
    padding: 12px 24px;
    background-color: rgba(222, 46, 84, 1);
    border-radius: 8px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    line-height: 22.5px;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
    border: solid #de2e54 2px;
}

.header__btn:hover {
    background-color: #fff;
    color: #de2e54;
}
.header__btn:active {
    background-color: #de2e54;
    color: #fff;
    opacity: 0.6;
}

/* HERO SECTION */
.hero {
    background-color: rgba(14, 180, 193, 1);
    color: #fff;
    padding: 120px 0;
    margin-bottom: 120px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
}
.hero__text-wrapper {
    width: 500;
}
.hero-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 43.2px;
    margin-bottom: 16px;
}
.hero-text {
    width: 440px;
    margin-bottom: 36px;
}

.hero-btn:hover {
    background-color: rgba(222, 46, 84, 0.8);
}
.hero-btn:active {
    opacity: 0.6;
}

.hero-img {
    margin-top: -91px;
    margin-bottom: -120px;
    display: flex;
}

/* SERVICES SECTION */
.services {
    width: 100%;
    background-color: #fff;
    text-align: center;
}
.services-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #000;
    margin-bottom: 56px;
}
.services-list {
    width: 100%;
    max-width: 864px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.services-list-item {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    text-align: left;
}
.services-item-img{
    box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
    width: 200px;
    height: 200px;
}
.servoces-item-text-wrapper {
    margin-left: 64px;
}
.services-item-heading {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    margin-bottom: 24px;
}
.services-item-text {
    margin: 0;
}

.services__btn {
    margin-bottom: 184px;
}

.services__btn:hover {
    background-color: #fff;
    color: #de2e54;
}
.services__btn:active {
    background-color: #de2e54;
    color: #fff;
    opacity: 0.6;
}

/* REGISTER SECTION STYLES*/
.register {
    background-color: rgba(14, 180, 193, 1);
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register__title {
    font-family: 'Open Sans Condensed', 'Arial' ,sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 43.2px;
    color: #fff;
    margin-bottom: 24px;
    margin-top: 0;
    margin-bottom: 40px;
}

.register__btn {
    font-family: 'Open Sans Condensed', 'Arial' ,sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
    border: 2px solid white;
    padding: 12px 24px;
    border-radius: 8px;
}

.register__btn:first-child {
    margin-right: 40px;
}

.register__btn:hover {
    background-color: #de2e54;
    border: solid 2px #de2e54;
    color: #fff;
}
.register__btn:active {
    opacity: 0.6;
}

/* FOOTER SECTION STYLES*/
.footer {
    background-color: #222;
    padding: 24px 0;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__logo {
    text-decoration: none;
    display: inline-block;
    color: white;
    display: flex;
    align-items: center;
}

.footer__logo:hover {
    color: #de2e54;
}
.footer__logo:active {
    color: #fff;
    opacity: 0.6;
}

.footer__logo-img {
    display: block;
    margin-right: 16px;
}
.footer__logo-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32.68px;
}
.footer__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}
.footer__nav-list-item:not(:last-child) {
    margin-right: 32px;
}
.footer__nav-list-item a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-style: 14px;
    line-height: 21px;
    letter-spacing: 2px;
}

.footer__nav-list-item a:hover {
    color: #de2e54;
}
.footer__nav-list-item a:active {
    color: #fff;
    opacity: 0.6;
}